.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  background: #f4f4f4;
}

.main {
  background: #fff;
  margin-right: 5rem;
  margin-top: 2rem;
  width: 100rem;
  margin-bottom: 2rem;
}
